body{
    height: 100%;
    width: 100%;
    justify-content: center;
    justify-items: center;
    margin: 0;
    padding: 0;
}
H1{
   text-align: center;
   align-content: center;
    margin-top: 0;
    background-color: black;
    color: aliceblue;
    width: 100%;
    height: 5rem;
}

.pickone{
     
 display: flex;
    /* overflow: hidden;   */
  border-radius: 50%;
  justify-content: center;
  align-items: center;
 height: 200px;
    width: 200px;
}

.pickone:hover {
    background-color: rgb(15, 15, 15);
}

#mainDIV{
    /* height: 200px;
    width: 600px; */
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

img{
    height: 175px;
    width: 175px;
    object-fit: cover;
    border-radius: 50%;
}

#scoreboard{
    height: 150px;
    width: 350px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    gap: 30%;
    margin-top: 30px;
    align-items: center;
    font-size: 2rem;
}

#userscore{
    font-size: 4rem;
margin-bottom: 0%;
align-items: center;
justify-content: center;
justify-items: center;
padding-left: 0.5rem;
}

#compscore{
    font-size: 4rem;
margin-bottom: 0%;
padding-left: 1rem;
}

#messbox{
    margin-top: 50px;
    font-size: 2rem;
    background-color: black;
    color: aliceblue;
    justify-content: center;
    justify-items: center;
    border-radius: 1rem;
   padding: 0.015px;
}

#mess{
    padding: 1rem;
}